In [1]:
import requests
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
from pprint import pprint
from selenium.webdriver.common.by import By

driver = webdriver.Chrome()
driver.get("https://land.naver.com")

In [2]:
headers = {
    "Connection": "keep-alive",
    "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2NDUzNzgwMzAsImV4cCI6MTY0NTM4ODgzMH0.6mQZJF9YzkjyIKksVvgzTltAbX5A3ujPmo_Gjlmr3UU",
    "Host": "new.land.naver.com",
    "Referer": "https://new.land.naver.com/rooms?ms=37.5396469,126.9700037,15&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&e=RETAIL&aa=SMALLSPCRENT&articleNo=2205113440",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-origin",
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
}

In [3]:
map_loc = [
    '37.5474363,126.9704907', # 청파동1가
    '37.5462,126.9667', # 청파동2가
    '37.5432,126.9668', # 청파동3가
    '37.5398,126.9673', # 원효로1가
    '37.5425,126.9719', # 갈월동
    '37.545742,126.974775', # 남영동
    '37.5394229,126.9713705', # 한강로1가
    '37.537,126.969088' # 문배동
]

In [4]:
# 청파동1가
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.5488,126.9674,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))

df1 = pd.DataFrame(oneroomList, columns=col)
df1['위치'] = '청파동1가'
df1.to_csv('투룸_청파동1가.csv', encoding='utf8')

In [5]:
# 청파동2가
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.5462,126.9667,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))

df2 = pd.DataFrame(oneroomList, columns = col)
df2['위치'] = '청파동2가'
df2.to_csv('투룸_청파동2가.csv', encoding='utf8')

In [6]:
# 청파동3가
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.5432,126.9668,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))
    
df3 = pd.DataFrame(oneroomList, columns = col)
df3['위치'] = '청파동3가'
df3.to_csv('투룸_청파동3가.csv', encoding='utf8')

In [7]:
# 원효로1가
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.5398,126.9673,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))
    
df4 = pd.DataFrame(oneroomList, columns = col)
df4['위치'] = '원효로1가'
df4.to_csv('투룸_원효로1가.csv', encoding='utf8')

In [8]:
# 갈월동
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.5425,126.9719,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))
    
df5 = pd.DataFrame(oneroomList, columns = col)
df5['위치'] = '갈월동'
df5.to_csv('투룸_갈월동.csv', encoding='utf8')

In [9]:
# 남영동
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.545742,126.974775,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))
    
df6 = pd.DataFrame(oneroomList, columns = col)
df6['위치'] = '남영동'
df6.to_csv('투룸_남영동.csv', encoding='utf8')

In [10]:
# 한강로1가 
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.5362,126.973488,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))
    
df7 = pd.DataFrame(oneroomList, columns = col)
df7['위치'] = '한강로1가'
df7.to_csv('투룸_한강로1가.csv', encoding='utf8')

In [11]:
# 문배동 
col = ['거주유형', '거래방식', '거주유형', '시세', '스펙']

url = 'https://new.land.naver.com/rooms?ms=37.537,126.969088,16&a=APT:OPST:ABYG:OBYG:GM:OR:VL:DDDGG:JWJT:SGJT:HOJT&b=B2&e=RETAIL&aa=SMALLSPCRENT&ae=TWOROOM'
res = requests.get(url, headers = headers)
oneroomList = []
onerooms = driver.find_elements(By.CSS_SELECTOR, 'div.item_inner')

for oneroom in onerooms:
    roomType = oneroom.find_element(By.CSS_SELECTOR, 'span.text').text
    payType = oneroom.find_element(By.CSS_SELECTOR, 'span.type').text
    dwellType = oneroom.find_element(By.CSS_SELECTOR, 'strong.type').text
    price = oneroom.find_element(By.CSS_SELECTOR, 'span.price').text
    spec = oneroom.find_element(By.CSS_SELECTOR, 'span.spec').text

    oneroomList.append((roomType, payType, dwellType, price, spec))
    
df8 = pd.DataFrame(oneroomList, columns = col)
df8['위치'] = '문배동'
df8.to_csv('투룸_문배동.csv', encoding='utf8')

In [26]:
# csv 파일 병합
import os

folders = os.listdir('투룸')
folders

['.DS_Store',
 '투룸_한강로1가.csv',
 '투룸_청파동2가.csv',
 '투룸_원효로1가.csv',
 '투룸_갈월동.csv',
 '투룸_남영동.csv',
 '투룸_청파동3가.csv',
 '투룸_문배동.csv',
 '투룸_청파동1가.csv']

In [27]:
df_all = pd.DataFrame()
for i in range(0,len(folders)):
    if folders[i].split('.')[1] == 'csv':
        file = '투룸/'+folders[i]
        df = pd.read_csv(file,encoding='utf-8') 
        df_all = pd.concat([df_all, df])
df_all.to_csv('tworoom.csv', encoding='utf8')

In [28]:
# 위도, 경도값 포함
tworoom_list = [
    '청파동1가', '청파동2가', 
    '청파동3가', '원효로1가', 
    '갈월동', '남영동', 
    '한강로1가', '문배동'
]

latlon = [
    [37.5488,126.9674], [37.5462,126.9667],
    [37.5432,126.9668], [37.5398,126.9673],
    [37.5398,126.9673], [37.545742,126.974775],
    [37.5362,126.973488], [37.537,126.969088]
]

lat=[]; lon=[]
for value in df_all['위치']:
    if value == tworoom_list[0]:
        lat.append(latlon[0][0])
        lon.append(latlon[0][1])
    elif value == tworoom_list[1]:
        lat.append(latlon[1][0])
        lon.append(latlon[1][1])
    elif value == tworoom_list[2]:
        lat.append(latlon[2][0])
        lon.append(latlon[2][1])
    elif value == tworoom_list[3]:
        lat.append(latlon[3][0])
        lon.append(latlon[3][1])
    elif value == tworoom_list[4]:
        lat.append(latlon[4][0])
        lon.append(latlon[4][1])
    elif value == tworoom_list[5]:
        lat.append(latlon[5][0])
        lon.append(latlon[5][1])
    elif value == tworoom_list[6]:
        lat.append(latlon[6][0])
        lon.append(latlon[6][1])
    else:
        lat.append(latlon[7][0])
        lon.append(latlon[7][1])

df_all['lat'] = lat; df_all['lon'] = lon
df_all.to_csv('final_tworoom.csv', encoding='utf8')

In [30]:
# 지도 시각화
import folium
from folium.plugins import MarkerCluster

_tworoom = pd.read_csv('final_tworoom.csv', encoding='utf8')
map = folium.Map(location=[37.5488,126.9674], zoom_start=20)
marker_cluster = MarkerCluster().add_to(map)

for index, col in _tworoom.iterrows():
    popup_info = '<pre>위치: '+str(col['위치'])+'<br>거주유형: '+str(col['거주유형'])+'<br>거래방식: '+str(col['거래방식'])+'<br>보증금/월세: '+str(col['시세'])+'<br>정보: '+str(col['스펙'])

    folium.Marker(location = [col['lat'], col['lon']],
        popup = popup_info,
        icon = folium.Icon('blue', icon='home')
    ).add_to(marker_cluster)

#map
map.save('tworoom.html')